<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311895082409-8uhb2uqp6lke2uqndghutk9qgfdb03c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311895082409-8uhb2uqp6lke2uqndghutk9qgfdb03c2</string>
	<key>API_KEY</key>
	<string>AIzaSyADByNfDesf74qA-xO8g9Z7a3NKrk5c4Vc</string>
	<key>GCM_SENDER_ID</key>
	<string>311895082409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab</string>
	<key>PROJECT_ID</key>
	<string>weatherflutter-1a4b9</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherflutter-1a4b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311895082409:ios:85a1cb2cd827a9827ef0b8</string>
</dict>
</plist>